{% load i18n %}{% load widget_tweaks %}
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
    {% for field in form.visible_fields %}
    <!-- Form Group (email address)-->
    <div class="form-group">
        <label class="text-gray-600 small" for="email">Email address</label>
        {% render_field field class="form-control form-control-solid" aria-label="Password" aria-describedby="email"%}

    </div>
    {% endfor %}
    <!-- Form Group (reset password button)    -->
    <div class="form-group mb-0"><button class="btn btn-primary" type="submit">Reset Password</button></div>
    <!-- {% csrf_token %}
    {{ form.as_p }} -->
    <!-- <input type="submit" value="{% trans 'Reset My Password' %}" /> -->
</form>