

        

    {% load i18n %}{% load widget_tweaks %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
    {% for field in form.visible_fields %}
        {% if field.name == 'oldpassword' %}
            {% if form.is_bound %}
            {% comment %} Bound is a submitted form with returning data {% endcomment %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="form-group">
                        <label class="text-gray-600 small" for="{{field.name}}">Current Password</label>
                        {% render_field field class="form-control form-control-solid" aria-label="oldpassword" aria-describedby="oldpassword"%}
                    </div>
                {% endif %}
            {% else %}
                <label class="text-gray-600 small" for="{{ field.name }}">Current Password</label>
                {% render_field field class="form-control form-control-solid" aria-label="oldpassword" aria-describedby="oldpassword"%}
            {% endif %}
        {% endif %}
        {% if field.name == 'password1' %}
            {% if form.is_bound %}
            {% comment %} Bound is a submitted form with returning data {% endcomment %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="form-group">
                        <label class="text-gray-600 small" for="{{field.name}}">New Password</label>
                        {% render_field field class="form-control form-control-solid" aria-label="password1" aria-describedby="password1"%}
                    </div>
                {% endif %}
            {% else %}
                <label class="text-gray-600 small" for="{{ field.name }}">New Password</label>
                {% render_field field class="form-control form-control-solid" aria-label="password1" aria-describedby="password1"%}
            {% endif %}
        {% endif %}
        {% if field.name == 'password2' %}
            {% if form.is_bound %}
            {% comment %} Bound is a submitted form with returning data {% endcomment %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="form-group">
                        <label class="text-gray-600 small" for="{{field.name}}">New Password (again)</label>
                        {% render_field field class="form-control form-control-solid" aria-label="password2" aria-describedby="password2"%}
                    </div>
                {% endif %}
            {% else %}
                <label class="text-gray-600 small" for="{{ field.name }}">New Password (again)</label>
                {% render_field field class="form-control form-control-solid" aria-label="password2" aria-describedby="password2"%}
            {% endif %}
        {% endif %}
    {% endfor %}
    <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>

    <!-- Form Group (forgot password link)-->
    <div class="form-group"><a class="small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>

</form>